gunicorn 
psycopg2-binary 
uvicorn 
django-cors-headers 
liboqs-python @ git+https://github.com/open-quantum-safe/liboqs-python.git 
dj-database-url 
djangorestframework 
django-simple-history 
whitenoise 
django-environ 
psycopg2-binary 
django-environ 
django-ipfs-storage 
django-axes 
django-csp 
django-cors-headers 
django-defender 
rest_framework_simplejwt 
channels 
channels-redis
ipfshttpclient
djangorestframework

