django>=4.2
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-axes
django-csp
dj-database-url
psycopg2-binary
whitenoise
gunicorn
uvicorn
social-auth-app-django
social-auth-core
channels
channels-redis
django-simple-history
celery
sendgrid
pyotp
qrcode
pillow
python-dotenv
drf-spectacular
djangorestframework-simplejwt
django-filter
redis
